{{ define "main" }}
<div class="page">
	<div id="bird">
		{{ if .Params.path }}
		{{ $n := 0 }}
		{{ $r := "" }}
		{{ $p := .Params.path }}
		{{ if eq $p "qrt" }}		 {{ $n = 1 }}{{ $r = .RelRef (dict "path" "learn/query-response-time") }}
		{{ else if eq $p "index" }}	 {{ $n = 2 }}{{ $r = .RelRef (dict "path" "learn/indexes-and-indexing") }}
		{{ else if eq $p "data" }}	 {{ $n = 3 }}{{ $r = .RelRef (dict "path" "learn/data-and-access-patterns") }}
		{{ else if eq $p "shard" }}	 {{ $n = 4 }}{{ $r = .RelRef (dict "path" "learn/sharding") }}
		{{ else if eq $p "metrics" }}{{ $n = 5 }}{{ $r = .RelRef (dict "path" "learn/server-metrics-and-innodb") }}
		{{ else if eq $p "repl" }}	 {{ $n = 6 }}{{ $r = .RelRef (dict "path" "learn/replication") }}
		{{ else if eq $p "trx" }}	 {{ $n = 7 }}{{ $r = .RelRef (dict "path" "learn/transactions-and-data-locks") }}
		{{ else if eq $p "common" }} {{ $n = 8 }}{{ $r = .RelRef (dict "path" "learn/common-challenges") }}
		{{ else if eq $p "cloud" }}	 {{ $n = 9 }}{{ $r = .RelRef (dict "path" "learn/cloud-performance") }}
		{{ end }}
		<div class="pr"><span><i>Learn MySQL Performance</i></span>&nbsp;&nbsp;<a href="{{ $r }}">{{ $n }}</a></div>
		{{ end }}
		<img width="120" height="106" src="/img/emp-bird.png" alt="Efficient MySQL Performance bird">
		<p><b><i>Efficient MySQL Performance</i></b><br>20 years of MySQL performance, written for software engineers</p>
		<div class="book-buttons">
		<a class="book-button" data-dst="oreilly" href="https://oreil.ly/efficient-mysql-performance">O'Reilly&nbsp;&Rang;</a><br>
		<a class="book-button" data-dst="amazon" href="https://www.amazon.com/Efficient-MySQL-Performance-Practices-Techniques/dp/1098105095/">Amazon &nbsp;&Rang;</a><br>
		<a class="book-button" data-dst="goodreads" href="https://www.goodreads.com/book/show/59963702-efficient-mysql-performance">Goodreads&nbsp;&Rang;</a>
		</div>
	</div>
	<main>
		<article>
			<button type="button" id="focus" onclick="zen()">◯</button>
			<h1 class="post-title">{{ .Params.title }}</h1>
			{{ if .Params.subtitle }}<h2 class="post-subtitle">{{.Params.subtitle}}</h2>{{ end }}
			{{ partial "post_meta.html" . }}
			{{ $wrappedTable := printf "<div class=\"to\"> ${1} </div>" }}
			{{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
			<div class="print-copyright">
				Source: {{ .Permalink }}<br>
				Copyright {{ .Site.Lastmod.Format "2006" }} {{ .Site.Params.author.name }}
			</div>
		</article>
		{{ partial "disqus.html" . }}
	</main>
	<nav id="toc">
		<div class="scroller">
			{{ if .Params.series }}
				{{ .Params.series }} Series
				<hr>
				<div class="ser">
				{{ $thisPage := .Title }}
				{{ $n := 1 }}
				{{ $pages := index .Site.Taxonomies.series (lower .Params.series) }}
				{{ $p0 := index $pages 0 }}
				{{ if eq $p0.Params.reverseSeries true }}
					{{ $pages = sort $pages "Date" "desc" }}
				{{ else }}
					{{ $pages = sort $pages "Date" "asc" }}
				{{ end }}
				{{ $p0 = index $pages 0 }}
				{{ if eq $p0.Params.zeroIndex true }}{{ $n = 0 }}{{ end }}
				{{ range $pages }}
					{{ if eq .LinkTitle $thisPage }}
					<span style="border-bottom:2px solid hotpink;">{{ $n }}</span>
					{{ else }}
					<a href="{{ .RelPermalink }}">{{ $n }}</a>
					{{ end }}
					{{ $n = add $n 1 }}
				{{ end }}
				</div>
			{{ end }}
			{{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
			<em><a href="#">{{.Title}}</a></em>
			<hr>
			{{ .TableOfContents }}
			{{ else if .Params.series }}
			<em><a href="#">{{.Title}}</a></em>
			{{ end }}
		</div>
	</nav>
</div>
{{ end }}
