{{ define "main" }}
<main class="notfound">
	<br><br><br>
	<h1>404 Page Not Found</h1>
	<p>This error has been logged and will be fixed with a redirect if the page or alternative content exists.</p>
	<p>Here's a secret gift for your troubles:</p>
	<p>
		<img class="ion" src="/img/ionicons/gift-outline.svg" style="vertical-align:middle">
		<a href="https://www.oreilly.com/library/view/efficient-mysql-performance/9781098105082/ch01.html">Chapter 1</a> of my book <i>Efficient MySQL Performance</i>.
	</p>
</main>
{{ end }}
